<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Symfony Employment Exchange{% endblock %}</title>
        {% block stylesheets %}
        {# 'app' must match the first argument to addEntry() in webpack.config.js #}
        {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <header>
            <nav>
                <span class="icon">Symfony Employment Exchange</span>
                {% if app.user %}
                <li>{{ app.user }} ({{ app.user.roles[1]|default('') }}) | <a href="{{ url('app_logout') }}">Log out</a></li>
                {%  if "ROLE_APPLICANT" in app.user.roles %}
                <li><a href="{{ url('applicant_list') }}">Applied offers</a></li>
                {% endif %}
                {%  if "ROLE_ADMIN" in app.user.roles %}
                <li><a href="{{ url('company_index') }}">Companies</a></li>
                <li><a href="{{ url('user_index') }}">Users</a></li>
                {% endif %}
                {%  if "ROLE_COMPANY" in app.user.roles %}
                <li><a href="{{ url('offer_index') }}">Company Offers</a></li>
                {% endif %}
                {% else %}
                <li><a href="{{ url('app_login') }}">Log in</a></li>
                {%  endif %}
                <li><a href="{{ url('applicant_index') }}">Index</a></li>
            </nav>
        </header>
        <main>
            <h2>{% block section %}{% endblock %}</h2>
            <div class="container">
                {% block body %}{% endblock %}
            </div>
            </main>
        {% block javascripts %}{% endblock %}
        <footer>Symfony Employment Exchange.</footer>
    </body>
</html>
