<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Symfony Employment Exchange{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div id="page_header" style="background: #5eb5e0">
            <img src="https://static.platzi.com/mf-landings/image/logotipo-platzi-768799552e5f26369e21a807b8a533f7.png"/>
        {% if app.user %}
            {%  if "ROLE_ADMIN" in app.user.roles %}
                <a href="{{ url('company_index') }}">Companies</a>
                <a href="{{ url('user_index') }}">Users</a>
            {% endif %}
            {%  if "ROLE_COMPANY" in app.user.roles %}
                <a href="{{ url('offer_index') }}">Company Offers</a>
            {% endif %}
            | {{ app.user }} - <a href="{{ url('app_logout') }}">Log out</a>
        {% else %}
               <a href="{{ url('app_login') }}">Log in</a>
        {%  endif %}
        </div>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
