{% extends 'base.html.twig' %}

{% block title %}Applied offers{% endblock %}

{% block body %}
    <h1>Applied offers</h1>
    <div id="flash-messages">
        {% for messages in app.flashes %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
        {% endfor %}
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Company</th>
                <th>Salary</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for offer in offers %}
            <tr>
                <td>{{ offer.title }}</td>
                <td>{{ offer.description }}</td>
                <td>{{ offer.company }}</td>
                <td>{{ offer.salary}}</td>
                <td>
                    {{ include('applicant/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no applied offers found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <p><a href="{{ url('applicant_index') }}">Look all the offers</a></p>

{% endblock %}